.board-column {
    display: flex;
    flex-direction: column;
    height: 100vw;
    background-color: var(--board-background);
    border-radius: 15px;
}

h2 {
    font-size: 18px;
    font-weight: 800;
    color: var(--text-primary);
    margin-left: 10px;
}

.board-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

