:root {
    --text-primary: #656565;
    --board-background: #8d8d8d;

    /* Buttons */
    --btn-action: #007bff;
    --btn-outline: #D9D9D9;

    /* TODO: Adaptive */
    /* Content */
    --content-margin: 200px;
}