@import '../variables.css';

h2 {
    font-size: 18px;
    font-weight: 800;
    color: var(--text-primary);
    margin-left: 10px;
}

.board {
    margin-left: var(--content-margin);
    margin-right: var(--content-margin);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}


.app-board-content:last-child {
    margin-right: 0;
}


