@import '../variables.css';

h3 {
    color: var(--text-primary);
}

.view-body {
    margin-left: var(--content-margin);
    margin-right: var(--content-margin);
    margin-top: 20px;
}


app-button {
    margin-top: 10px;
    margin-right: 20px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #908f8f;
    display: block;
    border: none;
    padding: 0;
}